body{
    background-image: url(../img/1f0a8a5a0955e8e2c2af4c365d4ea506f97113e0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.header_two{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    height: 30px;
    box-shadow: 0px 1px 5px black;
    border: 0px;
}
.header_two ul li{
    list-style: none;
    display: inline-block;
}
.header_two ul li a{
    color: black;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 25px;
}
.tittle_bar{
    color: white;
    margin: 0px;
    padding-top: 30px;
}
.content_one{
    margin: 150px;
    margin-bottom: 0px;
    padding: 33px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
    height: 500px;
    border-radius: 16px;
    box-shadow: 0px 1px 5px black;
    border: 0px;


}
.border_img{
    margin: 0px;
}
.border_img_two{
    margin: 0px;
}
.border_img_two center img{
    margin-top: 16px;
    border-radius: 16px;
}
.border_img center img{
    border-radius: 16px;
    padding-left: 0px;
}
.bar_img_one{
    margin-top: 9px;
}
/*Animaciones*/
.bar_img_one img{
    transition: transform .2s; 
}
.bar_img_one img:hover{
    transform: scale(1.10); 
}
.bar_img_two img{
    transition: transform .2s; 
}
.bar_img_two img:hover{
    transform: scale(1.10); 
}
.border_img_two img{
    transition: transform .2s; 
}
.border_img_two img:hover{
    transform: scale(1.05);
}
/*-----------------Animaciones*/
.bar_img_two{
    margin-top: 25px;
}
.bar_img_two img{
    margin-left: 30px;
}
.bar_img_one img{
    margin-left: 30px;
}

/*Segunda Barra de Contenido*/
.content_two{
    margin: 0px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 150px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 16px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 1px 5px black;
    border: 0px;
}
.content_two div img{
    border-radius: 16px;
    width: 300px;
    transition: transform .2s; 

}

.content_two div img:hover{
    transform: scale(1.10);
}
.info{
    color: white;
    margin-top: 30px;
}
/*Tercera Barra de Contenido*/
.content_three{
    /*background-color: rgba(255, 255, 255, 0.5);*/
    margin: 150px;
    margin-bottom: 50px;
    margin-top: 0px;
    height: 500px;
    border-radius: 16px;
    padding: 60px;
    padding-top: 35px;
    padding-bottom: 0px;
    /*box-shadow: 0px 1px 5px black;*/
    border: 0px;
    
}
.content_three_one{
    margin: 0px;
    border-radius: 16px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 200px;
}
#border_info{
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 700px;
    padding: 0px;
    font-size: 30px;
    padding-top: 25px;
    box-shadow: 0px 1px 5px black;
    border: 0px;
    transition: transform .2s; 
}

#border_info:hover{
    transform: scale(1.05);
}   
#border_info center strong{
    margin-left: 20px;
    
}

.content_three_two{
    margin: 0px;
    border-radius: 16px;
    padding: 0px;
    height: 200px;
}

/*FOOTER*/
.footer{
    margin: 0px;
    color: white;
    margin-top: 25px;
    background-color: black;
    padding: 40px;
    text-align: center;
    height: 200px;
}
/*Acerca De y Boton*/
.p1 ul li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.p1 ul{
    margin: 0px;
    padding: 0px;
}

.p1{
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
}

.boton{
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    padding-top: 5px;
    width: 120px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    background-image: url(../img/1f0a8a5a0955e8e2c2af4c365d4ea506f97113e0.jpg);
    background-attachment: fixed;

    background-repeat: no-repeat;
    border-radius: 8px;
    color: black;
    border: 0px;
    transition: transform .2s; 
}
.p1 ul li a{
    text-decoration: none;
    color: white;
}
.boton a{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
}
/*Contacto imagenes*/
.contacto{
    margin: 0px;
}
.contacto img{
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
